<div id="footer">
    <a href="http://blog.cpedia.com">My Blog</a> | <a href="http://cpedialog.googlecode.com" target="_blank">cpedialog</a> |
    <a href="http://www.google.com/profiles/cpedia" target="_blank">Profile of cpedia</a> | <a href="http://code.google.com/u/cpedia/" target="_blank">My Projects</a> |
    <a href="http://books.google.com/books?uid=13586232429090032368" target="_blank">My Bookshelf</a> |
    <a href="http://picasaweb.google.com/cpedia" target="_blank">Albums</a>
    <br/>
    &copy;2010 - All rights reserved by <a href="http://www.cpedia.com">cpedia.</a> - <a href="http://www.miibeian.gov.cn/" target="_blank">{{BLOG.icp_number}}</a> <br/>
    <!--Powered by <a href="http://code.google.com/p/cpedialog" target="_blank">cpedialog</a>, all rights reserved by <a href="http://www.cpedia.com">cpedia.</a>-->
</div>