<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="/jscripts/cpedia/tweetlist.grid.js"></script>        
<div>
    <fieldset id="twitter">
        <legend>What's happening to me?</legend>
        <div class="fieldsetdiv">
            <div id="tweetsdiv">
                <div id="paging"></div>
                <div id="tweetdiv"></div>
            </div>
        </div>
    </fieldset>

</div>