<!--DataTable-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="/jscripts/cpedia/tweetlist.grid.js"></script>        
<div>
    <fieldset id="twitter">
        <legend>What's happening to me?</legend>
        <div class="fieldsetdiv">
            <div id="tweetdiv">
            </div>
            <div style="padding-top:5px">
                <div class="yui-u first" id="paging" style="display:none;">
                   <a href="javascript:void(0)" id="newer_tweets">Newer |</a> <a href="javascript:void(0)" id="older_tweets">Older</a>
                </div>
                <div class="yui-u moretweets">
                    more and follow <a href="http://twitter.com/{{twitter_user.screen_name}}" target="_blank">@{{twitter_user.screen_name}}</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>