<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Carrsdigital.com</title>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo/yahoo-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/get/get-min.js" ></script>
    <!-- Connection Manager -->
    <script src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
    <!-- JSON Utility -->
    <script src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>

    <!-- yui -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/portal.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/container/assets/skins/sam/container.css" />
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/container/container-min.js"></script>
    <script type="text/javascript" src="/jscripts/cpedia/google_voice.js"></script>
</head>
<body class="yui-skin-sam">
<div id="google_voice_message">
    <div class="gv_title">Send me an SMS message:</div>
    <div class="gv_notes">Yes, I can receive it in my phone immediately.</div>
    <div>
        <form id="gv_form">
        <div><label for="client_cellphone_number" title="Pls add country code, I will send a copy to you."
                    id="client_cell_label" style="font-style:italic;">Your cell phone # (optional)</label>
            <br/><input id="client_cellphone_number" name="client_cellphone_number"/>
        </div>
        <div><label for="gv_message" title="Try english, other languages will be translated." id="gv_message_label" style="font-style:italic;">SMS message</label><br/><textarea rows="2" cols="30" id="gv_message" name="gv_message"></textarea></div>
        <div class="gv_message_send_button"><input type="button" id="gv_message_send_button"
                                                   value="Send SMS to me"/></div></form>
    </div>
</div>
</body>
</html>