<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/container/container-min.js"></script>
<script type="text/javascript" src="/jscripts/cpedia/mp3_search.js"></script>

<div id="mp3_search">
    <div>
        <form id="mp3_form">
            <div><label for="search_engine"
                        id="search_engine_label" style="font-style:italic;">Search Engine</label>
                <br/>
                <select id="search_engine">
                        <option value="baidu">Baidu</option>
                        <option value="yahoo">Yahoo</option>
                        <option value="soso">SOSO</option>
                        <option value="sogou">Sogou</option>
                </select>
            </div><br/> 
            <div><label for="key"
                        id="key_label" style="font-style:italic;">Search Key</label>
                <br/><input id="key" name="key"/>
            </div> <br/> 
            <div><label for="page"
                        id="password_label" style="font-style:italic;">Page</label>
                <br/>
                <select id="page" name="page">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                </select>
            </div><br/> 
            <div>
                <input type="button" id="search_mp3_btn"
                       value="Search"/></div>
        </form>
        <div id="search_result"></div>
    </div>
</div>
