{% load i18n %}
{% extends "main.html" %}
{% block title %}{{title}} - System Admin{% endblock %}
{% block blogcontainer %}
<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.7.0/build/yahoo/yahoo-min.js"></script>
<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.7.0/build/event/event-min.js"></script>
<!-- Connection Manager -->
<script src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- JSON Utility -->
<script src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>

<!--DataTable-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/tabview/assets/skins/sam/tabview.css" />

        
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/get/get-min.js" ></script>
        
<!--tabview-->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/tabview/tabview-min.js"></script>

<script type="text/javascript" src="/jscripts/yui-plugin-dispatcher-min.js"></script>

<!--my yui grid render-->
<script type="text/javascript" src="/jscripts/save.prototype.grid.js"></script>
<script type="text/javascript" src="/jscripts/csslist.grid.js"></script>
<script type="text/javascript" src="/jscripts/common/constant.js"></script>
<script type="text/javascript" src="/jscripts/common/utils.js"></script>

<script type="text/javascript">
    var handleFailure = function(o) {
        if (o.responseText !== undefined) {
            alert("Client RPC Request Error, please retry.");
        }
    };

    function isInteger(number) {
        for (var i = 0; i < number.length; i++) {
            if (isNaN(number.charAt(i))) {
                return false;
            }
        }
        return true;
    }


</script>
{% block jscript %}
{% endblock %}

<div class="yui-g">
    <div id="admincontainer" class=" yui-skin-sam">
        <div id="adminmenu">
        </div>
        <script type="text/javascript">
            (function() {
                var tabView = new YAHOO.widget.TabView();

                var systemTab = new YAHOO.widget.Tab({
                    label: 'System',
                    dataSrc: '/admin/system',
                    cacheData: false,
                    active: true
                });
                //tabView.addTab(systemTab);
                YAHOO.plugin.Dispatcher.delegate(systemTab,tabView);

                var pagesTab = new YAHOO.widget.Tab({
                    label: 'Pages',
                    dataSrc: '/admin/pages',
                    cacheData: false
                });
                //tabView.addTab(pagesTab);
                YAHOO.plugin.Dispatcher.delegate(pagesTab,tabView);

                var albumsTab = new YAHOO.widget.Tab({
                    label: 'Albums',
                    dataSrc: '/admin/albums',
                    cacheData: false
                });
                //tabView.addTab(albumsTab);
                YAHOO.plugin.Dispatcher.delegate(albumsTab,tabView);

                var feedsTab = new YAHOO.widget.Tab({
                    label: 'Feeds',
                    dataSrc: '/admin/feeds',
                    cacheData: false
                });
                //tabView.addTab(feedsTab);
                YAHOO.plugin.Dispatcher.delegate(feedsTab,tabView);

                var imagesTab = new YAHOO.widget.Tab({
                    label: 'Images',
                    dataSrc: '/admin/images',
                    cacheData: false
                });
                //tabView.addTab(imagesTab);
                YAHOO.plugin.Dispatcher.delegate(imagesTab,tabView);

                var cssTab = new YAHOO.widget.Tab({
                    label: 'CSS Files',
                    dataSrc: '/admin/css',
                    cacheData: true
                });
                //tabView.addTab(cssTab);
                YAHOO.plugin.Dispatcher.delegate(cssTab,tabView);


                var tagsTab = new YAHOO.widget.Tab({
                    label: 'Tags',
                    dataSrc: '/admin/tags',
                    cacheData: false
                });
                //tabView.addTab(tagsTab);
                YAHOO.plugin.Dispatcher.delegate(tagsTab,tabView);

                var archivesTab = new YAHOO.widget.Tab({
                    label: 'Archives',
                    dataSrc: '/admin/archives',
                    cacheData: false
                });
                //tabView.addTab(archivesTab);
                YAHOO.plugin.Dispatcher.delegate(archivesTab,tabView);

                var authsubTab = new YAHOO.widget.Tab({
                    label: 'AuthSub',
                    dataSrc: '/admin/authsub',
                    cacheData: false
                });
                //tabView.addTab(authsubTab);
                //YAHOO.plugin.Dispatcher.delegate(authsubTab,tabView);

                var cacheTab = new YAHOO.widget.Tab({
                    label: 'Cache',
                    dataSrc: '/admin/cache',
                    cacheData: false
                });
                //tabView.addTab(cacheTab);
                YAHOO.plugin.Dispatcher.delegate(cacheTab,tabView);

                YAHOO.util.Event.onContentReady('adminmenu', function() {
                    tabView.appendTo('adminmenu');
                });               
            })();
        </script>
    </div>
</div>
{% endblock %}

