<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="SMS, MMS, Call log backup, auto backup, Gmail, Google Mail"/>
    <meta name="description" content="Backup to Gmail"/>
    <meta name="author" content="cpedia, Ping Chen, http://cpedia.net"/>
    <meta name="copyright" content="2010 http://backup-to-gmail.cpedia.net"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block header %}
    {% endblock %}
    <!-- yui -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/fonts/fonts-min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"/>
    <style type="text/css">
        #custom-doc {
            width: 24.62em;
            *width: 24.02em;
            min-width: 320px;
            margin: auto;
            text-align: left;
        }
    </style>
</head>
<body class="yui-skin-sam">
<div id="custom-doc" class="yui-t7">
    <div id="hd">
        <a name="top"></a>
        {% include "main_top.html" %}
    </div>
    {% block main_body %}
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g">
                    <DIV class=post-body>
                        <p>
                            <a style="font-weight:bold;" href="market://search/?q=pname:net.cpedia.backup2gmail">
                                Download Backup to Gmail from Android Market: (Only available when viewing from your
                                handset)</a>
                        </p> <br/><br/>

                        <img style="float:right;" src="/img/backup2gmail/qr_code.png" alt="">
                        With Google Android phone, you can synchronize your Gmail, Contacts, Calendar, Picasa Web Albums
                        with Google's Cloud Server. <br/><br/>

                        But how about your SMS, MMS and Call log, you don't want to lose these information after you
                        wipe the phone, upgrade the rom...<br/><br/>

                        Backup to Gmail can help you to automatically backup SMS, MMS and Call log to your Gmail.<br/><br/>
                        The SMS, MMS and Call log will be synchronized to the labelled folders of Gmail. When you get an
                        outgoing/incoming message and call, the backup action will be triggered automatically.
                        <br/> <br/>
                        
                        <img src="/img/backup2gmail/backup_main.png" alt=""> <br><br>
                        <img src="/img/backup2gmail/settings.png" alt=""> <br>

                        <br/><br/>

                    </DIV>
                </div>
            </div>
        </div>
        <div class="yui-b">
        </div>
    </div>
    {% endblock %}
    <div id="ft">
        {% include "footer.html" %}
    </div>
</div>

{% if BLOG.analytics_enable %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{ BLOG.analytics_web_property_id }}");
        pageTracker._trackPageview();
    } catch(err) {
    }
</script>
{% endif %}
</body>
</html>
