<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="SMS, MMS, Call log backup, auto backup, Gmail, Google Mail"/>
    <meta name="description" content="Backup to Gmail"/>
    <meta name="author" content="cpedia, Ping Chen, http://cpedia.net"/>
    <meta name="copyright" content="2010 http://backup-to-gmail.cpedia.net"/>
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block header %}
    {% endblock %}
    <!-- yui -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/fonts/fonts-min.css"/>
    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"/>
    <script type="text/javascript" src="/jscripts/lightbox2.04/js/prototype.js"></script>
    <script type="text/javascript" src="/jscripts/lightbox2.04/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="/jscripts/lightbox2.04/js/lightbox.js"></script>
    <link rel="stylesheet" href="/jscripts/lightbox2.04/css/lightbox.css" type="text/css" media="screen" />
    <style type="text/css">
        #custom-doc {
            width: 24.62em;
            *width: 24.02em;
            min-width: 320px;
            margin: auto;
            text-align: left;
        }
    </style>
</head>
<body class="yui-skin-sam">
<div id="custom-doc" class="yui-t7">
    <div id="hd">
        <a name="top"></a>
        {% include "main_top.html" %}
    </div>
    {% block main_body %}
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g">
                    <DIV class=post-body>

                        <p style="line-height:1.5em!important;"><a href="#about_backup2gmail">Backup to Gmail Introduction</a> <br/>

                            <a href="#How_backup">How to backup & restore?</a> <br/>
                            <a href="#about_question">Common questions</a> <br/>

                         <blockquote style="margin-left:15px;!important;line-height:1.5em!important;">
                            <a href="#login_error">1. Login error...</a> <br/>
                            <a href="#communication_error">2. General communication error...</a> <br/>
                            <a href="#incoming_not_backed_up">3. Incoming messages not be backed up?</a> <br/><br/></blockquote>

                        </p>

                        With Google Android phone, you can synchronize your Gmail, Contacts, Calendar, Picasa Web Albums
                        with Google's Cloud Server. <br/><br/>

                        But how about your SMS, MMS and Call log? You never want to lose these information after you
                        wipe the phone, upgrade the rom...<br/><br/>

                        Backup to Gmail can help you to automatically backup SMS, MMS and Call log to your Gmail.<br/><br/>
                        The SMS, MMS and Call log will be synchronized to the labeled folders of Gmail. When you get an
                        outgoing/incoming message and call, the backup action will be triggered automatically.

                        Now you can also restore MMS and Call log from Gmail to your android phone. Supports android 1.5 and above.
                        <br/> <br/>
                        <table>
                            <tr>
                                <td>
                                    <a style="font-weight:bold;"
                                       href="https://market.android.com/details?id=net.cpedia.backup2gmail">
                                        Download Backup to Gmail from Google Android Market</a></td>
                                <td>
                                    <img src="/img/backup2gmail/qr_code.png" alt="Download from Google Android market">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a style="font-weight:bold;"
                                       href="http://www.amazon.com/gp/mas/dl/android?p=net.cpedia.backup2gmail">
                                        Download Backup to Gmail from Amazon appstore</a></td>
                                <td>
                                    <img src="/img/backup2gmail/qr_code_amazon.png" alt="Download from Amazon Appstore">
                                </td>
                            </tr>
                        </table>

                        <div id="albums">
                        <table cellspacing="0" border="0" id="albumsTable">
                            <tr>
                            <td><a rel="lightbox[roadtrip]" onFocus='this.blur()' href="/img/backup2gmail/main_l.jpg"><img src="/img/backup2gmail/main_thum.jpg" style="height: 180px;"></a> &nbsp;&nbsp;</td>
                            <td><a rel="lightbox[roadtrip]" onFocus='this.blur()' href="/img/backup2gmail/settings_l.jpg"><img src="/img/backup2gmail/settings_thum.jpg" style="height: 180px;"></a>&nbsp;&nbsp;</td>
                            <td><a rel="lightbox[roadtrip]" onFocus='this.blur()' href="/img/backup2gmail/oauth_l.jpg"><img src="/img/backup2gmail/oauth_thum.jpg" style="height: 180px;"></a>&nbsp;&nbsp;</td>
                            </tr><tr>
                            <td><a rel="lightbox[roadtrip]" onFocus='this.blur()' href="/img/backup2gmail/labels_l.jpg"><img src="/img/backup2gmail/labels_thum.jpg" style="height: 180px;"></a>&nbsp;&nbsp;</td>
                            <td><a rel="lightbox[roadtrip]" onFocus='this.blur()' href="/img/backup2gmail/mms_l.jpg"><img src="/img/backup2gmail/mms_thum.jpg" style="height: 180px;"></a>&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                        </div>

                        <br/><br/>

                        <p><b style="font-size:12pt"><a name="How_backup">How to Backup SMS/MMS and Call Records to Gmail on Android:</a></b>
                            <a href="#top" style="margin-left:1.2cm;font:0.5em!important;">Back to top</a>
                        </p>  <br/>

                        <div>
                        <h4>How to Backup SMS/MMS and Call Records to Gmail on Android:</h4>

                        <h3>Step-1:</h3>

                        <p>Click the links above to download/install the app from Android Market or Amazon Appstore.</p>

                        <p><img title="Android market"
                                src="/img/backup2gmail/android_market.png"
                                alt="Android market"/></p>

                        <p><img title="Amazon appstore"
                                src="/img/backup2gmail/amazon_appstore.png"
                                alt="Amazon appstore"/></p>

                        <h3>Step-2:</h3>

                        <p>After installation is finished, tap and open "Backup to Gmail".</p>

                        <p><img title="Backup to Gmail"
                                src="/img/backup2gmail/backup2gmail_icon.png" alt="Backup to Gmail"/></p>

                        <h3>Step-3:</h3>

                        <p>From the "Backup to Gmail" to backup your SMS messages to Gmail, you will first need to enable
                            IMAP in Gmail. To enable IMAP: Login into your Gmail Inbox from your web browser, click on
                            "Settings"; on the upper right corner, click on Forwarding and POP/IMAP and from
                            the "IMAP Access" click on "Enable IMAP" radio button. Click on
                            "Save Changes" and logout.</p>

                        <p>Coming back to "Backup to Gmail" app on your Android phone, go to "Preference" menu, click on "Gmail Account Setup", set the "Authentication" option to be "OAuth".
                            Then click on "OAuth Collect", A browser window will open and ask for your Gmail username and password. Enter your username
                            and password and login.</p>

                        <p><img title="Connect Gmail"
                                src="/img/backup2gmail/oauth.png" alt="Connect Gmail"/></p>

                        <h3>Step-4:</h3>

                        <p>Get back to the main view of "Backup to Gmail", select the items (SMS, MMS or Call log) that you want to backup, Click on "Backup now"; and it will start backup of your SMS/MMS/Call log to your Gmail
                            Inbox.You can check your SMS messages in
                            Gmail under "SMS" label.</p>

                        <p><img  title="Backup SMS Android"
                                src="/img/backup2gmail/backup2gmail_backup.png"
                                alt="Backup SMS Android"/></p>

                        <p>You can also schedule "Backup to Gmail" to automatically backup the new SMS, MMS or Call log as they come.</p>

                        <p><img  title="Auto Backup SMS or Call Logs"
                                src="/img/backup2gmail/settings.png"
                                alt="Auto Backup SMS or Call Logs"/></p>

                        <h3>Step-5:</h3>

                        <p>You can also click "Preference" menu and check more options like "Mark
                            as read", "Items to restore", "Gmail labels"</p>

                        <p><img  title="Backup to Gmail settings"
                                src="/img/backup2gmail/backup2gmail_labels.png"
                                alt="Backup to Gmail settings"/></p>

                        <h3>How to Restore SMS from Gmail in Android:</h3>

                        <p>To restore SMS from your Gmail account to Android
                            phone, open "Backup to Gmail" and click on "Restore".</p>

                        <p><img title="Restore SMS"
                                src="/img/backup2gmail/backup2gmail_restore.png" alt="Restore SMS"/></p>
                        <br/>
                        </div>


                        <p><b style="font-size:12pt"><a name="about_question">Common questions </a></b>
                            <a href="#top" style="margin-left:1.2cm;font:0.5em!important;">Back to top</a>
                        </p>  <br/><br/>

                        <p><b style="font-size:12pt"><a name="login_error">Login error</a></b>
                            <a href="#top" style="margin-left:1.2cm;font:0.5em!important;">Back to top</a>
                        </p><br>

                        Please make sure you have enabled IMAP in your Gmail account settings and setup Gmail account properly.. <br><br><br>

                        <p><b style="font-size:12pt"><a name="communication_error">General communication error</a> </b>
                            <a href="#top" style="margin-left:1.2cm;font:0.5em!important;">Back to top</a>
                        </p> <br>

                        Please make sure you have enabled IMAP of Gmail, if still doesn't work, please try to collect Gmail with OAuth
                        (Set "Preference -> Gmail Account Setup -> Authentication" to "OAuth", then Click "OAuth Connect"
                        to process Gmail OAuth authentication in the pop-up browser window.).<br>
                        <img src="/img/backup2gmail/oauth.png" alt=""> <br><br> <br>

                        <p><b style="font-size:12pt"><a name="incoming_not_backed_up">Only sent out messages have been backed up on droid x/2</a> </b>
                            <a href="#top" style="margin-left:1.2cm;font:0.5em!important;">Back to top</a>
                        </p> <br>

                        This is the firmware bug of some droid x/2 bug. Please <a href="mailto:android@cpedia.net">give me email</a>  for how to resolve the issue.<br>
                        <br> <br> <br> <br> <br>



                        <a name="credits"><p style="font-weight:bold;font-size:12pt">Credits</p> <br/></a>

                        <p>
                        <a href="http://studer.tv/">Christoph Studer</a> (<a href="mailto:chstuder@gmail.com">chstuder@gmail.com</a>) Original author of SMS Backup</p>
                        <br/>
                        <p>
                        <a href="http://code.google.com/p/k9mail/">k9mail</a> IMAP library, with some modifications (<a href="http://github.com/jberkel/k9mail">k9mail/sms-backup-plus</a>)</p>
                        <br/>
                        <p>
                        <a href="https://github.com/jberkel">Jan Berkel</a>  (<a href="https://twitter.com/jberkel">@jberkel</a>)  Author of SMS Backup +</p>
                        <br/> <br/>
                    </DIV>
                </div>
            </div>
        </div>
        <div class="yui-b">
        </div>
    </div>
    {% endblock %}
    <div id="ft">
        {% include "footer.html" %}
    </div>
</div>

{% if BLOG.analytics_enable %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{ BLOG.analytics_web_property_id }}");
        pageTracker._trackPageview();
    } catch(err) {
    }
</script>
{% endif %}
</body>
</html>
