<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/container/container-min.js"></script>
<script type="text/javascript" src="/jscripts/cpedia/google_voice_call.js"></script>

<div id="google_voice_call">
    <div>
        <form id="gv_form">
            <div><label for="username"
                        id="username_label" style="font-style:italic;">Google Voice username</label>
                <br/><input id="username" name="username"/>
            </div>
            <div><label for="password"
                        id="password_label" style="font-style:italic;">Google Voice password</label>
                <br/><input id="password" name="password" type="password"/>
            </div>
            <div><label for="outgoingNumber"
                        id="client_cell_label" style="font-style:italic;">Call</label>
                <br/><input id="outgoingNumber" name="outgoingNumber"/>
            </div>
            <div><label for="forwardingNumber" id="forwardingNumber_label" style="font-style:italic;">Phone ring
                to</label><br/>
                <input id="forwardingNumber" name="forwardingNumber"/></div>
            <div><label for="subscriberNumber" id="subscriberNumber_label" style="font-style:italic;">Phone ring
                to</label><br/>
                <input id="subscriberNumber" name="subscriberNumber"/></div>
            <div class="gv_call_send_button">
                <input type="button" id="gv_call_send_button"
                       value="Connect"/></div>
            <div class="account_info_button">
                <input type="button" id="gv_account_info_button"
                       value="Account Info"/></div>
        </form>
    </div>
</div>
